html {
    background-color: #778899;
    /* background-color: #aa8484; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gh {
    position: absolute;
    top: 0;
    left: 0;
}

.heading {
    font-size: 52pt;
}

#turn {
    font-size: 32pt;
}

.grid-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #2196F3;
    /* background-color: #f32121; */
    padding: 10px;
}

.grid-item {
    width: 100px;
}

.game-cell {
    height: 100px;
}

.circle-cell {
    border-radius: 50%;
    height: 95%;
    width: 95%;
    background-color: #222;
}

.p1 {
    background-color: #75a6d6;
}

.p2 {
    background-color: #e07676;
}

.p1Win {
    background-color: #0000ff;
}

.p2Win {
    background-color: #ff0000;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 979px) {
    
}

@media only screen and (max-width: 830px) {
    
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 678px) {
    
}

@media only screen and (max-width: 608px) {
    
}

@media only screen and (max-width: 530px) {

}

@media only screen and (max-width: 450px) {

}