html {
    background-color: #778899;
    /* background-color: #aa8484; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gh {
    position: absolute;
    top: 0;
    left: 0;
}

.heading {
    font-size: 52pt;
}

#turn {
    font-size: 32pt;
}

button {
    font-size: 24pt;
    margin: 0 5px;
}

.grid-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #2196F3;
    /* background-color: #f32121; */
    padding: 10px;
}

.grid-item {
    width: 100px;
}

.game-cell {
    height: 100px;
}

.circle-cell {
    border-radius: 45px;
    height: 95%;
    width: 95%;
    background-color: #222;
}

.p1 {
    background-color: #75a6d6;
}

.p2 {
    background-color: #e07676;
}

.p1Win {
    background-color: #0000ff;
}

.p2Win {
    background-color: #ff0000;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.toggleOption {
    margin-left: 30px;
}

.toggleLabel {
    float: left;
    width: 400px;
}

#labelSpeed {
    width: 200px;
}

#formSpeed {
    float: right;
}

#setSpeed {
    float: right;
    margin-right: 30px;
}

.featureToggler {
    font-size: 14pt;
}

.modal-content {
    background-color: #eeeeee;
    margin: 1% auto; 
    padding: 20px;
    border: 2px solid #888;
    text-align: left;
    width: 520px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sectionHeading {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.mouseover {
    background-color: #ccc66c
}

.lastPlay0 {
    animation-name: drop0;
    animation-duration: 400ms;
    position: relative;
}

.lastPlay1 {
    animation-name: drop1;
    animation-duration: 400ms;
    position: relative;
}

.lastPlay2 {
    animation-name: drop2;
    animation-duration: 400ms;
    position: relative;
}

.lastPlay3 {
    animation-name: drop3;
    animation-duration: 400ms;
    position: relative;
}

.lastPlay4 {
    animation-name: drop4;
    animation-duration: 400ms;
    position: relative;
}

.lastPlay5 {
    animation-name: drop5;
    animation-duration: 400ms;
    position: relative;
}

@keyframes drop0 {
    0% {bottom:500px}
    100% {bottom:0px}
}

@keyframes drop1 {
    0% {bottom:400px}
    100% {bottom:0px}
}

@keyframes drop2 {
    0% {bottom:300px}
    100% {bottom:0px}
}

@keyframes drop3 {
    0% {bottom:200px}
    100% {bottom:0px}
}

@keyframes drop4 {
    0% {bottom:100px}
    100% {bottom:0px}
}

@keyframes drop5 {
    0% {bottom:50px}
    100% {bottom:0px}
}

@media only screen and (max-width: 730px) {
    .grid-item {
        width: 90px;
    }
    
    .game-cell {
        height: 90px;
    }
}

@media only screen and (max-width: 665px) {
    .grid-item {
        width: 85px;
    }
    
    .game-cell {
        height: 85px;
    }
}

@media only screen and (max-width: 630px) {
    .grid-item {
        width: 80px;
    }
    
    .game-cell {
        height: 80px;
    }

    @keyframes drop0 {
        0% {bottom:400px}
        100% {bottom:0px}
    }
    
    @keyframes drop1 {
        0% {bottom:320px}
        100% {bottom:0px}
    }
    
    @keyframes drop2 {
        0% {bottom:240px}
        100% {bottom:0px}
    }
    
    @keyframes drop3 {
        0% {bottom:160px}
        100% {bottom:0px}
    }
    
    @keyframes drop4 {
        0% {bottom:80px}
        100% {bottom:0px}
    }
    
    @keyframes drop5 {
        0% {bottom:40px}
        100% {bottom:0px}
    }
}

@media only screen and (max-width: 595px) {
    .grid-item {
        width: 75px;
    }
    
    .game-cell {
        height: 75px;
    }

    .heading {
        font-size: 30pt;
    }

    #turn {
        font-size: 22pt;
    }
    
    button {
        font-size: 18pt;
    }
}

@media only screen and (max-width: 560px) {
    .grid-item {
        width: 70px;
    }
    
    .game-cell {
        height: 70px;
    }

    .modal-content {
        width: 380px;
    }

    .toggleLabel {
        width: 280px;
    }

    #labelSpeed {
        width: 80px;
    }

    #setSpeed {
        margin-right: 18px;
    }
}

@media only screen and (max-width: 525px) {
    .grid-item {
        width: 65px;
    }
    
    .game-cell {
        height: 65px;
    }

    button {
        font-size: 14pt;
    }

    @keyframes drop0 {
        0% {bottom:325px}
        100% {bottom:0px}
    }
    
    @keyframes drop1 {
        0% {bottom:260px}
        100% {bottom:0px}
    }
    
    @keyframes drop2 {
        0% {bottom:195px}
        100% {bottom:0px}
    }
    
    @keyframes drop3 {
        0% {bottom:130px}
        100% {bottom:0px}
    }
    
    @keyframes drop4 {
        0% {bottom:65px}
        100% {bottom:0px}
    }
    
    @keyframes drop5 {
        0% {bottom:32px}
        100% {bottom:0px}
    }
}

@media only screen and (max-width: 490px) {
    .grid-item {
        width: 60px;
    }
    
    .game-cell {
        height: 60px;
    }
}

@media only screen and (max-width: 455px) {
    .grid-item {
        width: 55px;
    }
    
    .game-cell {
        height: 55px;
    }
}

@media only screen and (max-width: 420px) {
    .grid-item {
        width: 50px;
    }
    
    .game-cell {
        height: 50px;
    }

    @keyframes drop0 {
        0% {bottom:250px}
        100% {bottom:0px}
    }
    
    @keyframes drop1 {
        0% {bottom:200px}
        100% {bottom:0px}
    }
    
    @keyframes drop2 {
        0% {bottom:150px}
        100% {bottom:0px}
    }
    
    @keyframes drop3 {
        0% {bottom:100px}
        100% {bottom:0px}
    }
    
    @keyframes drop4 {
        0% {bottom:50px}
        100% {bottom:0px}
    }
    
    @keyframes drop5 {
        0% {bottom:25px}
        100% {bottom:0px}
    }
}

@media only screen and (max-width: 385px) {
    .grid-item {
        width: 45px;
    }
    
    .game-cell {
        height: 45px;
    }
}